* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

body {
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  height: 75px;
  background-color: #222222;
  display: flex;
  align-items: center;
}
.header__section {
  display: flex;
  justify-content: space-between;
}
.header .box-left {
  display: flex;
  align-items: end;
  gap: 41px;
}
.header .box-right {
  position: relative;
  display: flex;
  gap: 25px;
  align-items: end;
}
.header .icon-number {
  position: absolute;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  font-family: "Lato-Regular";
  background-color: #f16d7f;
  text-align: center;
  width: 19px;
  height: 19px;
  border-radius: 50px;
  top: 0;
  right: -10px;
}
.header__icon:hover {
  transition: transform 0.4s;
  transform: scale(1.2);
}
.header__icon:hover path {
  fill: #f16d7f;
}

.main__section-one {
  background-color: #f8f3f4;
  height: 148px;
}
.main__section-one h2 {
  color: #f16d7f;
  font-weight: 400;
  font-size: 24px;
  font-family: "Lato-Regular";
  padding-top: 59px;
}
.main__section-three {
  height: 448px;
}
.main .section-three__content {
  display: flex;
  justify-content: space-between;
}
.main .section-three__content .box-one {
  max-width: 360px;
  margin-top: 97px;
}
.main .section-three__content .box-one img {
  display: block;
  margin: 0 auto;
}
.main .section-three__content .box-one p {
  margin-top: 30px;
  text-align: center;
  font-family: "Lato-Italic";
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #222224;
}
.main .section-three__content .box-two {
  max-width: 356px;
  margin-top: 155px;
}
.main .section-three__content .box-two h2 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #222224;
  font-family: "Lato-Bold";
}
.main .section-three__content .box-two h3 {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #222224;
  font-family: "Lato-Regular";
  margin-bottom: 27px;
}
.main .section-three__content form {
  display: flex;
}
.main .section-three__content button {
  background-color: #f16d7f;
  border: none;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  font-family: "Lato-Regular";
  width: 100px;
  height: 49px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
}
.main .section-three__content input {
  background-color: #e1e1e1;
  border: none;
  width: 322px;
  padding-left: 22px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.footer {
  background-color: #222224;
  display: flex;
  align-items: center;
  height: 79px;
}
.footer .box-icon {
  display: flex;
  gap: 8px;
}
.footer__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__section p {
  font-weight: 400;
  font-size: 16px;
  color: #fbfbfb;
  font-family: "Lato-Regular";
}
.footer__icon:hover {
  transition: transform 0.3s;
  transform: scale(1.1);
}
.footer__icon:hover path {
  fill: #f16d7f;
}
.footer__icon:hover .path-two {
  fill: white;
}/*# sourceMappingURL=style.css.map */