* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "vars";

.container {
  width: $widthContainer;
  margin: 0 auto;
}

body {
  max-width: $bodyWidth;
  margin: 0 auto;
}

.header {
  height: 75px;
  background-color: #222222;
  display: flex;
  align-items: center;
  &__section {
    display: flex;
    justify-content: space-between;
  }
  .box-left {
    display: flex;
    align-items: end;
    gap: 41px;
  }
  .box-right {
    position: relative;
    display: flex;
    gap: 25px;
    align-items: end;
  }
  .icon-number {
    position: absolute;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    font-family: $fontRegular;
    background-color: $colorPink;
    text-align: center;
    width: 19px;
    height: 19px;
    border-radius: 50px;
    top: 0;
    right: -10px;
  }
  &__icon:hover {
    transition: transform 0.4s;
    transform: scale(1.2);
  }
  &__icon:hover path {
    fill: $colorPink;
  }
}

.main {
  height: 148px;
  background-color: #f8f3f4;
  &__section-one h2 {
    color: $colorPink;
    font-weight: 400;
    font-size: 24px;
    font-family: $fontRegular;
    padding-top: 59px;
  }
}

.footer {
  background-color: #222224;
  display: flex;
  align-items: center;
  height: 79px;

  .box-icon {
    display: flex;
    gap: 8px;
  }

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__section p {
    font-weight: 400;
    font-size: 16px;
    color: #fbfbfb;
    font-family: $fontRegular;
  }
  &__icon:hover {
    transition: transform 0.3s;
    transform: scale(1.1);
  }
  &__icon:hover path {
    fill: $colorPink;
  }
  &__icon:hover .path-two {
    fill: white;
  }
}
